.orgInfo {
  border: none;
  padding: 30px;

}

.orgImg {
  padding: 20px;
  border-radius: 20px;
  height: 400px;
  width: 400px;
}

.orgInfo {
    width: 18rem;
    text-align: center;
    min-width: 500px;
}