.orgInfo {
  border: none;
  padding: 30px;
}

img {
  padding: 20px;
  border-radius: 20px;
  height: 400px;
  width: 400px;
}

.orgInfo {
  width: 18rem;
  text-align: center;
  min-width: 500px;
  background-color: transparent;
}

.orgsContainer{
  display: flex;
  align-items: center;
  justify-content: right;
}

.formContainer {
  display: flex;
  align-items: center;
  justify-content: left;
}

.donorsContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1100px) {
    .orgsContainer{
      justify-content: center;
    }
    .formContainer{
      justify-content: center;
    }

}
