.orgInfo {
  border: none;
  padding: 30px;
}

.orgImg {
  padding: 20px;
  border-radius: 20px;
  height: 400px;
  width: 400px;
}

.orgInfo {
  color: white;
  width: 18rem;
  text-align: center;
  min-width: 500px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orgsContainer{
  display: flex;
  align-items: center;
  justify-content: right;
}
.orgDescription{
  font-size: 1.2rem;
  margin: 1vh;
}

.formContainer {
  display: flex;
  align-items: center;
  justify-content: left;
}

.donorsContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.goBackBtn {
  color:white;
  background-color: #FF7000;
  border-color: #FF7000;
}

@media screen and (max-width: 1100px) {
    .orgsContainer{
      justify-content: center;
    }
    .formContainer{
      justify-content: center;
    }
}
@media screen and (max-width: 630px) {
  .orgInfo {
    width: calc(100vw - 30px);
    min-width:0px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .orgImg{
    height: 60vw;
    width: 60vw;
  }
  .orgDescription{
    font-size: 1rem;
  }
}
@media screen and (max-width: 300px) {
  i{
    font-size: 0.75rem;
  }
}