.containerDiv {
  /* background-color: rgb(212, 238, 249); */
  border-radius: 40px;
  margin: 15px;
  padding: 30px;
}

.input {
  margin: 10px;
  width: 20%;
  border-radius: 60px;
}

.cardParentDiv {
  display: flex;
  flex-wrap: wrap;
}

.cards {
  flex: 20%;
  margin: 15px;
  /* border-radius: 30px; */
  border: none;
  box-shadow: 4px 4px 21px -4px #adadad;
}
.itemImg{
  width: 200px;
  height: 200px;
  padding: 20px;
  border-radius: 20px;
}

@media (max-width: 1200px) {
  .cards {
    flex: 25%;
  }
}
@media (max-width: 1000px) {
  .cards {
    flex: 42%;
  }
  .input{
    width: 30%;
  }
}
@media (max-width: 768px) {
  .cards {
    flex: 75%;
  }
  .input{
    width: 50%;
  }
}
@media (max-width: 630px) {
  .cards {
    flex: 100%;
  }
  .input{
    width: 70%;
  }
}
@media (max-width: 500px) {
  .input{
    width: 100%;
  }
  .containerDiv{
    padding: 15px;
  }
  .cards{
    margin-left: 0px;
    margin-right: 0px;
    box-shadow: 4px 4px 13px -4px #3F3F3F;
  }
  .itemImg{
    width: 175px;
    height: 175px;
  }
}
