.carousel-control-next,
.carousel-control-prev {
  width: 10%;
}

/* .landing {
  background-color: #ffffd9;
} */

.header {
  margin: 15px;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-bottom: 50px;
  padding-top: 3vh;
  background-color: #fcfbc7;
  border-radius: 30px;
}

@media screen and (min-width: 100px) {
  h1 {
    font-size: calc(20px + 8vw);
  }

  h3 {
    font-size: calc(15px + 0.8vw);
  }

  p {
    font-size: calc(8px + 1vw);
    font-weight: 250;
  }
}

h1 {
  /* font-size: 130px; */
  text-align: right;
  margin-right: 15px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1px;
  line-height: 0.9em;
}

h3 {
  /* font-size: 30px; */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100px;
  text-transform: uppercase;
  text-align: right;
  margin-right: 20px;
  line-height: 1em;
  font-weight: 250;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100px;
}

.navBarContainer {
  margin-left: 30px;
  margin-top: 10px;
  position: absolute;
}

.carousel {
  align-items: justify;
  background-color: rgb(254, 218, 252);
  margin-top: 3%;
  padding-top: 1%;
  padding-bottom: 3%;
  border-radius: 30px;
  box-shadow: 1px 2px 15px -4px #3f3f3f;
  min-height: 400px;
  max-height: 400px;
}

/* .carouselContainer { 
 min-height: 600px;
} */

/* #carousel-indicators {
    color:rgb(17, 0, 61)
} */

/* Button {
  font-size: x-small;
} */
