.section {
  max-width: 1000px;
  margin: 0 auto;
}

.orgImg {
  width: 100%;
  height: 500px;
}

h6 {
  font-size: 33px;
}

h6 div {
  font-family: "black_stonealternative";

  font-size: 55px;
  letter-spacing: 1px;
  font-weight: 100;
}
