<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
  </staticContent>
      <rewrite>
           <rules>
                <rule name="DynamicContent">
                    <match url=".*"/>
                     <conditions>
                          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
                          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="True"/>
                     </conditions>
                     <action type="Rewrite" url="/"/>
                </rule>
           </rules>
      </rewrite>
   </system.webServer>
 </configuration>