.containerDiv {
  /* background-color: rgb(212, 238, 249); */
  border-radius: 40px;
}

.searchBar {
  border-radius: 3px !important;
  padding: 0;
}
.title {
  font-size: 32px;
  color: black;
  font-family: sans-serif;
  margin-top: 60px;
  margin-bottom: 60px;
}

.input {
  margin: 10px;
  width: 300px;
  border-radius: 3px;
  padding: 2px 10px;
}

.cardParentDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.cards {
  padding: 0;
  border-radius: 3px;
  border: none;
  background-color: #f4f4f4;
}
.itemImg {
  height: 200px;
}

@media (max-width: 1200px) {
  .cards {
    flex: 25%;
  }
}
@media (max-width: 1000px) {
  .cards {
    flex: 42%;
  }
  .input {
    width: 30%;
  }
}
@media (max-width: 768px) {
  .cards {
    flex: 75%;
  }
  .input {
    width: 50%;
  }
}
@media (max-width: 630px) {
  .cards {
    flex: 100%;
  }
  .input {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .input {
    width: 100%;
  }
  .containerDiv {
    padding: 15px;
  }
  .cards {
    margin-left: 0px;
    margin-right: 0px;
    box-shadow: 4px 4px 13px -4px #3f3f3f;
  }
  .itemImg {
    width: 175px;
    height: 175px;
  }
}
