.carousel-control-next,
.carousel-control-prev {
  width: 10%;
}

/* .landing {
  background-color: #ffffd9;
} */

.landing {
  max-width: 1000px;
  padding-top: 20px;
  margin: 0 auto 90px;
}

.title {
  font-size: 20px;
}

.header {
  /* margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px; */
  padding-left: 3vw;
  padding-right: 3vw;
  /* padding-bottom: 20px; */
  padding-top: 3vh;
  background-color: black;
}

.star {
  height: 200px;
  width: 400px;
  display: block;
  margin: auto;
}

@media screen and (min-width: 100px) {
  h1 {
    font-size: calc(20px + 8vw);
  }

  h3 {
    font-size: calc(15px + 0.8vw);
  }

  p {
    font-size: calc(8px + 1vw);
    font-weight: 250;
  }
}

.navBarContainer {
  margin-left: 30px;
  margin-top: 10px;
  position: absolute;
  color: white;
}

.carousel {
  /* margin: 3px; */
  /* border-radius: 30px; */
  box-shadow: 1px 2px 15px -4px #3f3f3f;
  color: white;
  /* height: ; */
}

.carousel-contents {
  padding-bottom: 49px;
  color: white;
  min-height: 500px;
}

.btnContribute {
  text-decoration: none;
  background-color: #e50040;
  border: none;
  color: white;
  border-radius: 3px;
  font-size: 16px;

  font-weight: 400;
  padding: 10px 15px;
}

.btnContribute p {
  font-size: 16px;
  font-weight: 400;
}

.btnContribute:hover {
  background-color: #d4033e;
  color: white;
}

.orgSummary {
  padding-left: 15%;
  padding-right: 15%;

  font-size: 20px;
  min-height: 64px;
}

.imgCarousel {
  width: 100%;
  height: 600px;
}
@media screen and (max-width: 770px) {
  .btnContribute {
    font-size: 17px;
    color: white;
  }
  .btn {
    --bs-btn-line-height: 1.75;
  }
}

@media screen and (max-width: 500px) {
  .star {
    height: 150px;
    width: 300px;
  }
  .btnContribute {
    font-size: 15px;
  }
}
@media screen and (max-width: 400px) {
  .btnContribute {
    font-size: 13px;
  }
  .btn {
    --bs-btn-line-height: 1;
  }
}
@media screen and (max-width: 340px) {
  .star {
    height: 100px;
    width: 200px;
  }
  h2 {
    font-size: 20px;
  }
  .orgSummary {
    font-size: 15px;
  }
  .imgCarousel {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 340px) {
  .navBarContainer {
    margin-left: 20px;
  }
}

/* #carousel-indicators {
    color:rgb(17, 0, 61)
} */

/* Button {
  font-size: x-small;




   <img
                              className="imgCarousel"
                              src={org.data.img}
                              alt={`${org.data.name}` + "'s logo"}
                            />
} */
