.donorInfoContainer, .VolunteerInfoContainer {
  border-radius: 10px;
  border: 1px solid rgb(215, 215, 215);
  padding: 30px;
  min-width: 500px;
  max-width: 60%;
  background-color: white;
  display: flex;
  justify-content: center;
}

.presetButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  font-size: small;
  color: rgb(46, 46, 46);
}

input, select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #e4e4e4;
  padding: 10px 10px;
  margin-bottom: 1px;
  font-size: 12px;
  background-color: #e4e4e4;
}

span {
  font-size: large;
  color: red;
}

.proceedPayBtn {
  color: white;
  background-color: #FF7000;
  border-color: #FF7000;
}

button {
  border-radius: 4px;
  border: 1px solid rgb(215, 215, 215);
  padding: 5px 10px;
  font-size: 14px;
  margin: 5px;
  color:white;
  background-color: #FF7000;
  border-color: #FF7000;
}

button[type='submit'],
input[type='submit'] {
  background: #ec598f;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 10px;
}

button[type='submit']:hover,
input[type='submit']:hover {
  background: #bf1650;
}

@media screen and (max-width: 630px) {
  .donorInfoContainer{
    width: calc(100vw - 30px);
    min-width:0px;
    max-width: 100%;
  }
}
@media screen and (max-width: 310px) {
  .donorInfoContainer{
    padding:10px;
    padding-top: 30px;
  }
}
.volunteerOrgInfo{
  display: none;
}
.DOB{
  display: block;
}
#isOrg:checked + .volunteerOrgInfo {
  display: block;
}
#isOrg:checked ~ .DOB {
  display: none;
}