.formTitle {
  color: #5e17a9;
}

.presetButtons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: -20px;
}

label,
.or {
  font-size: 16px;
  color: rgb(118, 118, 118);
}

label span {
  color: rgb(176, 53, 53);
  margin-left: 2px;
}

input:disabled {
  background-color: rgb(197, 197, 197);
}

.checkbox {
  display: flex;
  justify-content: start;
  align-items: center;
}

.checkbox input {
  width: auto;
  margin-right: 5px;
}

.monthlyPayment {
  margin-top: 15px;
  margin-bottom: -25px;
}

.availablity {
  display: flex;
  gap: 60px;
  padding-bottom: 10px;
}

.isAron {
  margin-top: 15px;
}
.mailingList {
  margin-bottom: 15px;
}
input,
select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #e4e4e4;
  padding: 5px 10px;

  margin-bottom: 1px;
  font-size: 12px;
  background-color: #e4e4e4;
}

select {
  padding: 15px 10px;
  border: none;
}

span {
  font-size: large;
  color: red;
}

.proceedPayBtn {
  color: white;
  background-color: #ff7000;
  border-color: #ff7000;
  margin-right: auto;
}

button {
  border-radius: 4px;
  border: 1px solid rgb(215, 215, 215);
  padding: 5px 10px;
  font-size: 14px;
  margin: 5px;
  color: white;
  background-color: #ff7000;
  border-color: #ff7000;
}

button[type="submit"],
input[type="submit"] {
  background: #ec598f;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 10px;
}
