.donationContainer {
  margin-top: 90px;
  height: 300px;
  width: 500px;
  overflow-x: scroll;
  overflow-y: hidden;
  /* border-radius: 20px; */
  /* box-shadow: 4px 4px 21px -4px #3F3F3F; */
  background-image: linear-gradient(58.89deg, #5e17a9 49.04%, #114fee 80.56%);
}
.donationTitle {
  color: black;
  font-family: "black_stonealternative";
}
.donationInfo {
  color: white;
  font-size: 23px;
  line-height: 20px;
  text-align: left;
  font-family: sans-serif;
}

.conPadding {
  padding: 40px;
}
